:root {
  --text-color-body: #606a76;
  --text-color-headlines: #32373e;
  --text-color-button: #ffffff;
  --text-color-invert-body: #dce3e9;
  --text-color-invert-headlines: #f2f5f8;
  --text-color-invert-button: #0072ef;
  --text-color-cyan: #008bd0;
  --fill-color-body: #606a76;
  --fill-color-headlines: #32373e;
  --fill-color-highlight: #0072ef;
  --fill-color-invert-body: #dce3e9;
  --fill-color-invert-headlines: #f2f5f8;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f8fafc;
  --bg-color-light-01: #f8fafc;
  --bg-color-light-02: #f2f5f8;
  --bg-color-light-03: #ecf0f4;
  --bg-color-light-04: #e6ebf0;
  --bg-color-dark-01: #32373e;
  --bg-color-dark-02: #292d32;
  --bg-color-dark-03: #202327;
  --bg-color-dark-04: #17191c;
  --bg-color-cyan: #008bd0;
  --bg-color-dark-blur: rgba(0, 0, 0, 0.5);
  --border-color-inactive: #c2cdd6;
  --border-color-active: #32373e;
  --border-color-invert-inactive: #6c7784;
  --border-color-invert-active: #f2f5f8;
  --border-color-focus: #00346c;
  --interaction-color-link: #0072ef;
  --interaction-color-hover: #0052aa;
  --interaction-color-focused: #0052aa;
  --interaction-color-disabled: #0052aae6;
  --interaction-color-grey-link: #dce3e9;
  --interaction-color-grey-hover: #c2cdd6;
  --interaction-color-grey-focused: #a4b0bc;
  --interaction-color-grey-disabled: #d1d9e166;
  --interaction-color-background-focused: #ecf0f4;
  --interaction-color-background-invert-focused: #4e565f;
  --color-alert-error: #e71e1e;
  --color-alert-error-10: #fdf0f0;
  --color-alert-error-70: #ed4f4f;
  --color-alert-error-120: #500808;
  --color-alert-warning: #cd4b13;
  --color-alert-warning-10: #fdf1ec;
  --color-alert-warning-40: #ec6e38;
  --color-alert-warning-120: #3e1706;
  --color-alert-info: #986f00;
  --color-alert-info-10: #fff4d5;
  --color-alert-info-40: #fdca3f;
  --color-alert-info-120: #302300;
  --color-alert-success: #1e8565;
  --color-alert-success-10: #e5f9f3;
  --color-alert-success-50: #3ad2a3;
  --color-alert-success-120: #09271e;
  --color-alert-marketing: #d9e906;
  --color-information-120: #002144;
  --color-information-110: #00346c;
  --color-information-100: #0052aa;
  --color-information-90: #0072ef;
  --color-information-80: #1a88ff;
  --color-information-70: #3396ff;
  --color-information-60: #5db3ff;
  --color-information-50: #7dc7ff;
  --color-information-40: #99d6ff;
  --color-information-30: #b1e0ff;
  --color-information-20: #d5eeff;
  --color-information-10: #eaf7ff;
  --color-information-zeiss: #061e93;
  --color-information-highlight: #dede4c;
  --color-white: #ffffff;
  --color-black: #000000;
}
